@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin: 40px 100px;
}
.nav h3 {
  font-weight: 700;
  font-size: 24px;
  color: #3a3a3a;
}
.nav ul li {
  list-style-type: none;
  display: inline;
  margin-left: 34px;
  font-weight: 600;
  font-size: 16px;
}

.search {
  width: 24px;
  height: 24px;
}
.cart {
  width: 36px;
  height: 36px;
}
.banner {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
}
.banner-info {
  width: 50%;
}
.banner-info h1 {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 52px;
  margin-bottom: 16px;
}
.banner-info p {
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
}
.banner-img {
  text-align: center;
  width: 440px;
  height: 414px;
  width: 50%;
  background-image: url("../images/Circle design.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.btn-primary {
  width: 196px;
  height: 44px;
  background: #e02c6d;
  border-radius: 41px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  border: 0;
}
.logos {
  margin: 0 165px 0 165px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: center;
}
hr {
  margin: 30px 165px;
}
.popular {
  margin: 30px 165px;
}
.popular-collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}
.title {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  margin-bottom: 50px;
}
.collection {
  width: 329px;
  padding-bottom: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.coll-img {
  margin: 17px 15px 0 15px;
}
.infos {
  margin: 17px 15px;
}
.collection-title {
  color: #18191f;
  font-weight: 500;
  font-size: 28px;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collection .rating img {
  width: 11.07px;
  height: 10.32px;
}
